LocalPreferences.toml
*.arrow
*.bin
*.xopp
*.so
*.so.bak
/Manifest.toml
/Manifest.toml.1.7
bin/kps-image-1.8-initial.so
bin/kps-image-1.8-initial.so.bak
Manifest.toml.bak
bin/kps-image-1.7-initial.so
bin/kps-image-1.6-main.so
bin/kps-image-1.7-main.so
bin/kps-image-1.8-main.so
test/data/kite.obj
test/data/settings.yaml
test/data/system.yaml
bin/kps-image-1.9-main.so
.vscode/settings.json
bin/kps-image-1.1-main.so
bin/kps-image-1.10-main.so
bin/kps-image-1.10-dev2.so
statprof/
bin/kps-image-1.10-new_solver.so
bin/kps-image-1.10-3line.so
bin/kps-image-1.10-controlplots.so
bin/kps-image-1.11-main.so
bin/kps-image-1.10-torque.so
bin/kps-image-1.10-feat-KPS4_3L.so
data/sim_log.bin
docs/src/winch.png
bin/kps-image-1.10-main.so.bak
bin/kps-image-1.10-1-Bart-1-main.so
bin/kps-image-1.10-kps4_3l_example.so
data/settings_v9.yaml
data/system_v9.yaml
data/settings_v9b.yaml
data/tmp.arrow
examples_3d/Manifest.toml

data/settings_v9c.yaml
data/settings_v9d.yaml
data/spectrum*.jld2
data/settings_v9e.yaml
cspell.config.yaml
Manifest-v1.11.toml
Manifest-v1.10.toml
data/settings_v9f.yaml
Manifest-v1.10.toml.bak
Manifest-v1.11.toml.bak
Manifest-v1.11.toml.backup 
data/model*.default
data/model*.bin
data/prob*.bin.default
data/prob_dynamic_3_seg.bin.default
data/prob_dynamic_1.11_3_seg.bin.default
data/prob_dynamic_1.10_3_seg.bin.default
docs/src/.$kite_power_tools.drawio.bkp
data/linear_model.arrow
data/nonlinear_model.arrow
